{
  "openapi": "3.0.1",
  "info": {
    "title": "VSP-Koppeling REST Push",
    "version": "1.0.0",
    "description": "OpenAPI Koppelvlak specificatie t.b.v. het pushen van berichten. LET OP! Het is alleen mogelijk de API te benaderen indien er een geldig VECOZO systeemcertificaat wordt meegestuurd.",
    "termsOfService": "https://www.vecozo.nl/algemene-voorwaarden/",
    "contact": {
      "name": "VECOZO",
      "url": "https://www.vecozo.nl",
      "email": "support@vecozo.nl"
    }
  },
  "servers": [
    {
      "url": "https://api.vecozo.nl/berichtenservice/berichten/rest-push/v1",
      "description": "Productie"
    },
    {
      "url": "https://tst-api.vecozo.nl/acc/berichtenservice/berichten/rest-push/v1",
      "description": "Acceptatie"
    },
    {
      "url": "https://tst-api.vecozo.nl/tst/berichtenservice/berichten/rest-push/v1",
      "description": "Test"
    }
  ],
  "paths": {
    "/berichten": {
      "post": {
        "tags": [
          "Bericht"
        ],
        "summary": "Verstuur een bericht naar de ontvanger.",
        "operationId": "PostBericht",

        "requestBody": {
          "description": "Bericht, bestaande uit metadata en payload.",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "berichtMetadata",
                  "payload"
                ],
                "properties": {
                  "berichtMetadata": {
                    "$ref": "#/components/schemas/BerichtMetadata"
                  },
                  "payload": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "berichtMetadata": {
                  "contentType": "application/json"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content. De ontvangst faalt, indiener probeert hetzelfde request niet opnieuw.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BerichtMetadata": {
        "type": "object",
        "required": [
          "routeringgegevens",
          "referentiegegevens"
        ],
        "properties": {
          "routeringgegevens": {
            "$ref": "#/components/schemas/Routeringgegevens"
          },
          "referentiegegevens": {
            "$ref": "#/components/schemas/Referentiegegevens"
          },
          "verwerkingscontext": {
            "type": "array",
            "minItems": 1,
            "maxItems": 100,
            "items": {
              "$ref": "#/components/schemas/SleutelWaardePaar"
            }
          }
        },
        "additionalProperties": false
      },
      "Relatie": {
        "type": "object",
        "required": [
          "rol"
        ],
        "properties": {
          "rol": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "code": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          }
        },
        "additionalProperties": false
      },
      "Berichtstroom": {
        "required": [
          "actie",
          "berichtsubversie",
          "berichttype",
          "berichtversie"
        ],
        "type": "object",
        "properties": {
          "berichttype": {
            "minLength": 1,
            "maxLength": 60,
            "type": "string"
          },
          "berichtsubtype": {
            "minLength": 1,
            "maxLength": 60,
            "type": "string"
          },
          "berichtversie": {
            "minimum": 0,
            "maximum": 999,
            "type": "integer",
            "format": "int32"
          },
          "berichtsubversie": {
            "minimum": 0,
            "maximum": 999,
            "type": "integer",
            "format": "int32"
          },
          "actie": {
            "minLength": 1,
            "maxLength": 60,
            "type": "string"
          }
        },
        "additionalProperties": false,
        "description": "Definieert een uitwisseling van gegevens in de vorm van berichten waarover specifieke afspraken gemaakt zijn."
      },
      "Routeringgegevens": {
        "type": "object",
        "required": [
          "afzender",
          "geadresseerden",
          "berichtstroom"
        ],
        "properties": {
          "afzender": {
            "$ref": "#/components/schemas/Relatie"
          },
          "geadresseerden": {
            "type": "array",
            "maxItems": 100,
            "items": {
              "$ref": "#/components/schemas/Relatie"
            }
          },
          "berichtstroom": {
            "$ref": "#/components/schemas/Berichtstroom"
          }
        },
        "additionalProperties": false
      },
      "Referentiegegevens": {
        "type": "object",
        "required": [
          "conversatieId",
          "traceerId"
        ],
        "properties": {
          "conversatieId": {
            "type": "string",
            "format": "uuid",
            "description": "ID om meerdere berichten logisch aan elkaar te koppelen in een conversatie."
          },
          "traceerId": {
            "type": "string",
            "format": "uuid",
            "description": "Uniek ID voor dit bericht."
          },
          "alsAntwoordOp": {
            "type": "string",
            "format": "uuid",
            "description": "ID om een bericht aan een bestaand bericht te kunnen koppelen. Verwijst naar het TraceerId van een ander bericht."
          },
          "referentieId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150,
            "description": "Referentie die opgegeven kan worden door de indienende ketenpartij."
          }
        },
        "additionalProperties": false
      },
      "SleutelWaardePaar": {
        "type": "object",
        "required": [
          "sleutel",
          "waarde"
        ],
        "properties": {
          "sleutel": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "waarde": {
            "type": "array",
            "minItems": 1,
            "maxItems": 100,
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 250
            }
          }
        },
        "additionalProperties": false
      },
      "ValidationProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "additionalProperties": {}
      }
    }
  }
}