{
  "openapi": "3.0.1",
  "info": {
    "title": "VSP-Koppeling REST Pull",
    "description": "OpenAPI Koppelvlak specificatie t.b.v het pullen van berichten. LET OP! Het is alleen mogelijk de API te benaderen indien er een certificaat wordt meegestuurd.",
    "version": "1.0.1",
    "contact": {
      "name": "VECOZO",
      "url": "https://www.vecozo.nl",
      "email": "support@vecozo.nl"
    }
  },
  "servers": [
    {
      "url": "https://api.vecozo.nl/berichtenservice/berichten/rest-pull/v1",
      "description": "Productie"
    },
    {
      "url": "https://tst-api.vecozo.nl/acc/berichtenservice/berichten/rest-pull/v1",
      "description": "Acceptatie"
    },
    {
      "url": "https://tst-api.vecozo.nl/tst/berichtenservice/berichten/rest-pull/v1",
      "description": "Test"
    }
  ],
  "paths": {
    "/berichten": {
      "get": {
        "tags": [
          "Berichten"
        ],
        "summary": "Haal gereedstaande berichten op.",
        "description": "Geeft een lijst terug met de oudste berichten (max. 250) die klaar staan om opgehaald te worden. Via de lijst worden de metagegevens van berichten teruggekoppeld en de URL's om de payload op te halen. Nadat de berichten zijn opgehaald kan de ontvangst bevestigd worden. Door de ontvangst te bevestigen wordt het mogelijk ook de andere gereedstaande berichten op te halen.",
        "operationId": "GetBerichten",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250,
              "default": 250
            },
            "description": "Maximaal kunnen er 250 berichten worden teruggegeven. Wanneer limit niet wordt meegegeven dan default 250 berichten."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BerichtMetadata"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/berichten/zoeken": {
      "post": {
        "tags": [
          "Berichten"
        ],
        "summary": "Haal gereedstaande berichten op o.b.v. zoekfilters.",
        "description": "Geeft een gefilterde lijst terug met de oudste berichten (max. 250) die klaar staan op opgehaald te worden. Via de lijst worden de metagegevens van berichten teruggekoppeld en de URL om de payload op te halen. Nadat de berichten zijn opgehaald kan de ontvangst bevestigd worden. Door de ontvangst te bevestigen wordt het mogelijk ook de andere gereedstaande berichten op te halen.",
        "operationId": "ZoekBerichten",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250,
              "default": 250
            },
            "description": "Maximaal kunnen er 250 berichten worden teruggegeven. Wanneer limit niet wordt meegegeven dan default 250 berichten."
          }
        ],
        "requestBody": {
          "description": "Zoekpad",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Zoekpad"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BerichtMetadata"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/berichten/{traceerId}/payload": {
      "get": {
        "tags": [
          "Berichten"
        ],
        "summary": "Haal de payload van een bericht op.",
        "description": "Download de payload van een specifiek bericht.",
        "operationId": "GetPayload",
        "parameters": [
          {
            "name": "traceerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Bericht is onbekend of niet (meer) beschikbaar ter pull."
          }
        }
      }
    },
    "/berichten/{traceerId}": {
      "delete": {
        "tags": [
          "Berichten"
        ],
        "summary": "Bevestig de ontvangst van het bericht.",
        "description": "Bevestigt de ontvangst van het bericht. Het bericht zal niet meer terug komen in de lijst met gereedstaande berichten.",
        "operationId": "BevestigOntvangst",
        "parameters": [
          {
            "name": "traceerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success"
          },
          "404": {
            "description": "Het bericht is niet gevonden of u bent hiervoor niet geautoriseerd."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Basisgegevens": {
        "type": "object",
        "required": [
          "ontvangenOp",
          "payload"
        ],
        "properties": {
          "ontvangenOp": {
            "type": "string",
            "format": "date-time"
          },
          "payload": {
            "$ref": "#/components/schemas/HTTPSDownload"
          }
        },
        "additionalProperties": false
      },
      "BerichtMetadata": {
        "type": "object",
        "required": [
          "basisgegevens",
          "routeringgegevens",
          "referentiegegevens"
        ],
        "properties": {
          "basisgegevens": {
            "$ref": "#/components/schemas/Basisgegevens"
          },
          "routeringgegevens": {
            "$ref": "#/components/schemas/Routeringgegevens"
          },
          "referentiegegevens": {
            "$ref": "#/components/schemas/Referentiegegevens"
          },
          "verwerkingscontext": {
            "type": "array",
            "minItems": 1,
            "maxItems": 100,
            "items": {
              "$ref": "#/components/schemas/SleutelWaardePaar"
            }
          }
        },
        "additionalProperties": false
      },
      "Checksum": {
        "type": "object",
        "required": [
          "algoritme",
          "waarde"
        ],
        "properties": {
          "algoritme": {
            "type": "string",
            "minLength": 1,
            "maxLength": 10,
            "example": "SHA256"
          },
          "waarde": {
            "type": "string",
            "minLength": 1,
            "maxLength": 250,
            "example": "572872fa7358008060ae2d0f91b4ee2df8cf1c26f521413f5036fb6ad913ce69"
          }
        },
        "additionalProperties": false
      },
      "HTTPSDownload": {
        "type": "object",
        "required": [
          "url",
          "grootte",
          "checksum"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.vecozo.nl/berichtenservice/berichten/rest-pull/v1/berichten/e1efb57c-9e95-478f-976a-3a80cf797129/payload"
          },
          "grootte": {
            "type": "integer",
            "format": "int64",
            "minimum": 1
          },
          "checksum": {
            "$ref": "#/components/schemas/Checksum"
          }
        },
        "additionalProperties": false
      },
      "Relatie": {
        "type": "object",
        "required": [
          "rol"
        ],
        "properties": {
          "rol": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "code": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          }
        },
        "additionalProperties": false
      },
      "Berichtstroom": {
        "required": [
          "berichttype",
          "berichtversie",
          "berichtsubversie",
          "actie"
        ],
        "type": "object",
        "properties": {
          "berichttype": {
            "minLength": 1,
            "maxLength": 60,
            "type": "string"
          },
          "berichtsubtype": {
            "minLength": 1,
            "maxLength": 60,
            "type": "string"
          },
          "berichtversie": {
            "minimum": 0,
            "maximum": 999,
            "type": "integer",
            "format": "int32"
          },
          "berichtsubversie": {
            "minimum": 0,
            "maximum": 999,
            "type": "integer",
            "format": "int32"
          },
          "actie": {
            "minLength": 1,
            "maxLength": 60,
            "type": "string"
          }
        },
        "additionalProperties": false,
        "description": "Definieert een uitwisseling van gegevens in de vorm van berichten waarover specifieke afspraken gemaakt zijn."
      },
      "Routeringgegevens": {
        "type": "object",
        "required": [
          "afzender",
          "geadresseerden",
          "berichtstroom"
        ],
        "properties": {
          "afzender": {
            "$ref": "#/components/schemas/Relatie"
          },
          "geadresseerden": {
            "type": "array",
            "minItems": 1,
            "maxItems": 100,
            "items": {
              "$ref": "#/components/schemas/Relatie"
            }
          },
          "berichtstroom": {
            "$ref": "#/components/schemas/Berichtstroom"
          }
        },
        "additionalProperties": false
      },
      "Referentiegegevens": {
        "type": "object",
        "required": [
          "conversatieId",
          "traceerId"
        ],
        "properties": {
          "conversatieId": {
            "type": "string",
            "format": "uuid",
            "description": "ID om meerdere berichten logisch aan elkaar te koppelen in een conversatie."
          },
          "traceerId": {
            "type": "string",
            "format": "uuid",
            "description": "Uniek ID voor dit bericht."
          },
          "alsAntwoordOp": {
            "type": "string",
            "format": "uuid",
            "description": "ID om een bericht aan een bestaand bericht te kunnen koppelen. Verwijst naar het Traceer ID van een ander bericht."
          },
          "referentieId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150,
            "description": "Referentie die opgegeven kan worden door de indienende ketenpartij."
          }
        },
        "additionalProperties": false
      },
      "SleutelWaardePaar": {
        "type": "object",
        "required": [
          "sleutel",
          "waarde"
        ],
        "properties": {
          "sleutel": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "waarde": {
            "type": "array",
            "minItems": 1,
            "maxItems": 100,
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 250
            }
          }
        },
        "additionalProperties": false
      },
      "Zoekpad": {
        "type": "object",
        "required": [
          "zoekpadType"
        ],
        "properties": {
          "zoekpadType": {
            "type": "string"
          }
        },
        "discriminator": {
          "propertyName": "zoekpadType",
          "enum": [
            "ZoekpadOpBerichtstroom",
            "ZoekpadOpConversatieId",
            "ZoekpadOpAlsAntwoordOp"
          ],
          "mapping": {
            "ZoekpadOpBerichtstroom": "#/components/schemas/ZoekpadOpBerichtstroom",
            "ZoekpadOpConversatieId": "#/components/schemas/ZoekpadOpConversatieId",
            "ZoekpadOpAlsAntwoordOp": "#/components/schemas/ZoekpadOpAlsAntwoordOp"
          }
        },
        "additionalProperties": false
      },
      "ZoekpadOpBerichtstroom": {
        "type": "object",
        "description": "Zoekpad om berichten op te halen o.b.v. de berichtstroom en evt. de geadresseerde.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Zoekpad"
          }
        ],
        "required": [
          "berichttype"
        ],
        "properties": {
          "berichttype": {
            "type": "string",
            "minLength": 1,
            "maxLength": 60
          },
          "berichtsubtype": {
            "type": "string",
            "minLength": 1,
            "maxLength": 60
          },
          "berichtversie": {
            "type": "integer",
            "minimum": 0,
            "maximum": 999
          },
          "berichtsubversie": {
            "type": "integer",
            "minimum": 0,
            "maximum": 999
          },
          "actie": {
            "type": "string",
            "minLength": 1,
            "maxLength": 60
          },
          "geadresseerdeRol": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "geadresseerdeCode": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          }
        },
        "additionalProperties": false
      },
      "ZoekpadOpConversatieId": {
        "type": "object",
        "description": "Zoekpad om berichten op te halen o.b.v. het Conversatie ID.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Zoekpad"
          }
        ],
        "required": [
          "conversatieId"
        ],
        "properties": {
          "conversatieId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "additionalProperties": false
      },
      "ZoekpadOpAlsAntwoordOp": {
        "type": "object",
        "description": "Zoekpad om berichten op te halen o.b.v. het AlsAntwoordOp ID. Hier kan het Traceer ID van een heenbericht gebruikt worden om de evt. gereedstaande retourberichten op te halen.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Zoekpad"
          }
        ],
        "required": [
          "alsAntwoordOp"
        ],
        "properties": {
          "alsAntwoordOp": {
            "type": "string",
            "format": "uuid"
          }
        },
        "additionalProperties": false
      },
      "ValidationProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "additionalProperties": {}
      }
    }
  }
}